/* ==========================================================================
   =logo
   ========================================================================== */
/*.logo {
	padding-bottom: 50px;
}*/

 /* ==========================================================================
   =h3
    ========================================================================== */
 div.main_title h2 {
 	border-bottom: 3px solid #05345f;
 	padding-bottom: 30px;
 	margin-bottom: 20px;
 	text-align: center;
 	color: #05345f;

 }
 
 

/* ==========================================================================
   =Header
   ========================================================================== */
header.logo h1{
	
	
	text-indent: -9999px;
	float:none;
	display: block;
    margin: 1px 407px;
   margin-top: 42px;
 	margin-bottom: 35px;
 	overflow: hidden;
    
}

header.logo h1 a {
	background: url('../img/logo.png') no-repeat;
	width: 145px;
	height: 44px;
	float:left;

}

/* ==========================================================================
   =nav
   ========================================================================== */
nav.navigacija ul li {
	
	display:inline;
	margin-right: 8px;
}
/* ==========================================================================
   =container_12
   ========================================================================== */
div.container_12{
	
	

}

div.container_12 .grid_4{
	width:220px;
	margin-left: 20px;	
	

}

div.container_12 img {
	width:225px;
	height:160px;


}
/* ==========================================================================
   =miscellaneous
   ==============0============================================================ */
 div.container_12 nav.navigacija li a{
	color: #05345f;
	text-decoration: none;
	margin-left: 7px;
}

 div.container_12 nav.navigacija li a:hover {
	color: #1880e1;
	
}

div.container_12 nav.navigacija li a.selected{
	color: #1880e1;
	text-decoration: underline;
}


div.nav nav.navigacija  ul {
	border-bottom: 1px solid #cfcfcf;
 	padding-bottom: 17px;
 	margin-bottom: 50px;
}

img.linkedin{
	margin-bottom: 5px;
}

div.grid_4 span.job {
	color:#1880E1;
}



/* ==========================================================================
   =footer
   ========================================================================== */
footer ul li {
	display:inline;
	
}


footer ul li.mak {
	margin-left: -1px;
	margin-right: 6px;
}
footer ul li.maki {
	padding-left: 10px;
	padding-right: 5px;
border-left: 1px solid #1880e1;
margin-left: 6px;

}

footer ul li.maki, li.mak, a:link, a:visited,a:hover,a:active {
	text-decoration: none;
    color:#1880e1;
}
li span.connect {display: block;
float:right;
color:#1880e1;

}

li span.connect img {
	width:25px;
	height:25px;
}
footer ul li a:after {
	
		
}
/* ==========================================================================
   =select_country
   ========================================================================== */
select{
	 -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}


select.selector{
	
}



div.country_help {
	 border: 2px solid #a1a1a1;
    padding: 20px 10px 0 20px ; 
    background: #e7f2fc;
    font-size: 14px;
    color:#05345f;
}

/* ==========================================================================
   =button
   ========================================================================== */
.btn{

   background: #1880e1;
   width: 120px;
   padding: 10px 20px;
 
   color: white;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.btn:hover {
  
   background: #3192D2;
   color: white;
   }
.btn:active {
   
   background: #3192D2;
   }

p.territory {
	text-align: center;
	word-spacing: 18px;
	font-weight: normal;
}


.selector{
	border:none;
 background-color: #e7f2fc;
 color:#1880e1;
 padding-left: 30px;
}

.selector option:first-child{
display:none;


}
/* ==========================================================================
   =Javascript created
   ========================================================================== */

div#paramore {
	 position:relative;
    left: 490px;
    bottom:60px;
    width:468px;
}

div.created {
	margin-left: 0;
	
}

div#holder{
	color:#1880E1;
		margin-left:  244px;
    margin-bottom: 24px;
    text-decoration: underline;
}

div#paramore button#button {
	color:#1880E1;
	border:0;
	background: none;
	text-decoration: underline;
	position: absolute;
    bottom: 0;
    left: -254px;


}